*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f4f4f4; */
    color: #0d1b2a;
    line-height: 1.5;

}

.bton{
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
}

.bton-primary{
    background-color: blue;
    color: #ffffff;
}



.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}


